<!DOCTYPE html>
<html>

<head>
    <title>Admin_dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="col-lg-2 col-md-2 col-sm-12" style="padding: 10px; background-color: #d9ecf7;">
        <img id="Image2" class=" center-block img-responsive" src="/images/jsr.png" align="middle"
            style="width: 121px;">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12" style="background-color: #d9ecf7;">

        <h2><span style="text-align: left; color: #0d47a1;">TIME SCHEDULE</span></h2>
        <h4><span style="text-align: left;">National Institute of Technology Jamshedpur, Jamshedpur</span></h4>
        <h6><span style="text-align: left;">An Institute of National Importance Established by Government of
                India</span></h6>
        <div style="text-align: right;" class="table_Heading">
            <span id="lbldate"><%= currentDate %></span>
            | <b><span id="lbltime" style="font-weight: 700"><%= currentTime %></span></b>
        </div>
        <div style="text-align: right;" class="table_Heading">
            <i><span id="lbluser" class="table_Heading" style="font-weight:bold;">Welcome <%= u_name %> </span></i>

        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0;">
        <div class="container">
            <div class="navbar-header" style="padding-right: 2rem;">
                <a class="navbar-brand" href="/admin_dashboard">Time Schedule</a>
            </div>
            <div class="navbar-header" style="padding-right: 2rem;">
                <a class="navbar-brand" href="/">Answer Scripts</a>
            </div>
            <div class="navbar-header" style="padding-right: 2rem;">
                <a class="navbar-brand" href="/result_process">Result Process</a>
            </div>
            <div class="navbar-header" style="float: right; ">
                <a class="navbar-brand" href="/signout" style="color: rgb(255, 81, 0);">Logout</a>
            </div>


        </div>
    </nav>
    <!-- <hr style="height:1px;border-width:0;background-color:black;margin-top: 0;"> -->

    <!-- end of header -->
    <!-- content -->

    <table width="100%" class="table table-hover table-bordered" style="font-family: 'Century Gothic';">
        <tbody>
            <tr>
                <td align="left">
                    <span class="auto-style1">
                        <h3>MCA <strong style="text-align: center; color: rgb(0, 0, 0);">Registered
                                Subjects :</strong></h3>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <div width="100%">
                        <div class="panel-heading">
                            <% if(msg !=''){ %>
                            <div id="signupalert" class="alert alert-danger">
                                <p><%= msg %></p>
                            </div>
                            <% } %>
                        </div>
                        <table class="table table-responsive table-hover" cellspacing="0" rules="all"
                            id="ContentPlaceHolder1_gv"
                            style="color:Black;background-color:White;border-color:#999999;border-width:1px;border-style:Solid;width:100%;border-collapse:collapse;">

                            <% if(allExamDetails !=''){ %>
                            <% for(var j=0; j<allExamDetails.length; j++) { %>
                            <tbody>
                                <tr style="color:White;background-color:Black;font-weight:bold;">
                                    <th scope="col" style="width:10px;text-align:center;">
                                        <span id="ContentPlaceHolder1_gv_lblslno">Sem <%= allExamDetails[j].semester %>
                                        </span>
                                    </th>
                                    <th scope="col" style="width:200px;text-align:center;">
                                        Subject
                                        Name</th>
                                    <th scope="col" style="width:80px;text-align:center;">Exam
                                        Date
                                    </th>
                                    <th scope="col" style="width:50px;text-align:center;">Time
                                    </th>
                                    <th scope="col" style="width:30px;text-align:center;">Edit</th>
                                </tr>
                                <%  var examDetails = allExamDetails[j].subjects %>
                                <% if(examDetails !=''){ %>
                                <% for(var i=0; i<examDetails.length; i++) {%>

                                <tr>
                                    <td style="width:10px;text-align:center; ">
                                        <%= i+1+"." %>
                                    </td>
                                    <td style="width:200px;text-align:left;padding-left:10px;">
                                        <%= examDetails[i].id+ " - " +examDetails[i].name %>
                                    </td>
                                    <td style="width:80px;text-align:center;">
                                        <%= moment(examDetails[i].exam_date).format("ddd[,] ll") %>
                                    </td>
                                    <td style="width:50px;text-align:center;">
                                        <%= moment(examDetails[i].exam_date).format("LT") %>
                                    </td>
                                    <td style="width:30px;text-align:center;">
                                        <a
                                            href="/admin_dashboard/edit_exam/<%= examDetails[i]._id %>?exam_id=<%= examDetails[i].id %>">
                                            <i class="fa fa-edit" style="color: #ec9005;"></i>
                                        </a>
                                        <!-- <td style="width:30px;text-align:center;">AM</td> -->
                                </tr>

                                <% } %>
                                <% } %>

                            </tbody>


                            <% } %>
                            <% } %>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- End of content -->
    <footer style="padding: 5px; background-color: #999999;">
        <center>
            <p style="text-align: center">
                CopyRight &copy; <%= moment().format('YYYY')  %>,
                <a href="http://www.nitjsr.ac.in" target="_blank" class="textformat_header"
                    style="color: #0d47a1;">National Institute of Technology, Jamshedpur.</a>
            </p>
        </center>
    </footer>

</body>



</html>